## timed mode

### set 1

- attempt 1: 61.54%
- attempt 2: 87.69%

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: 50%
- CSAA - Design High-Performing Architectures: 55%
- CSAA - Design Cost-Optimized Architectures: 77.27%
- CSAA - Design Secure Applications and Architectures:52.38%

#

### set 2

- attempt 1: 70.77%
- attempt 2: 96.92%

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: 80%
- CSAA - Design High-Performing Architectures: 64.29%
- CSAA - Design Cost-Optimized Architectures: 76%
- CSAA - Design Secure Applications and Architectures:62.5%

#

### set 3

- attempt 1: 64.62%
- attempt 2: 95.38%

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: 71.43%
- CSAA - Design High-Performing Architectures: 60%
- CSAA - Design Cost-Optimized Architectures: 63.64%
- CSAA - Design Secure Applications and Architectures:68.75%

#

### set 4

- attempt 1: 75.38%
- attempt 2:100%

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: 50%
- CSAA - Design High-Performing Architectures: 74.07%
- CSAA - Design Cost-Optimized Architectures: 82.35%
- CSAA - Design Secure Applications and Architectures:84.62%

#

### set 5

- attempt 1:
- attempt 2:

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: %
- CSAA - Design High-Performing Architectures: %
- CSAA - Design Cost-Optimized Architectures: %
- CSAA - Design Secure Applications and Architectures:%

#

### set 6

- attempt 1:
- attempt 2:

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: %
- CSAA - Design High-Performing Architectures: %
- CSAA - Design Cost-Optimized Architectures: %
- CSAA - Design Secure Applications and Architectures:%
