## timed mode

### set 1

- attempt 1: 61.54%
- attempt 2: 87.69%

#

### set 2

- attempt 1: 70.77%
- attempt 2: 96.92%

#

### set 3

- attempt 1: 64.62%
- attempt 2: 95.38%

#

### set 4

- attempt 1: 75.38%
- attempt 2:

#

### set 5

- attempt 1:
- attempt 2:

#

### set 6

- attempt 1:
- attempt 2:
