## TIMED MODE

### set 1

- attempt 1: 61.54%
- attempt 2: 87.69%

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: 50%
- CSAA - Design High-Performing Architectures: 55%
- CSAA - Design Resilient Architectures: 77.27%
- CSAA - Design Secure Applications and Architectures:52.38%

#

### set 2

- attempt 1: 70.77%
- attempt 2: 96.92%

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: 80%
- CSAA - Design High-Performing Architectures: 64.29%
- CSAA - Design Resilient Architectures: 76%
- CSAA - Design Secure Applications and Architectures:62.5%

#

### set 3

- attempt 1: 64.62%
- attempt 2: 95.38%

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: 71.43%
- CSAA - Design High-Performing Architectures: 60%
- CSAA - Design Resilient Architectures: 63.64%
- CSAA - Design Secure Applications and Architectures:68.75%

#

### set 4

- attempt 1: 75.38%
- attempt 2:100%

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: 50%
- CSAA - Design High-Performing Architectures: 74.07%
- CSAA - Design Resilient Architectures: 82.35%
- CSAA - Design Secure Applications and Architectures:84.62%

#

### set 5

- attempt 1:67.69%
- attempt 2: 87.69% (57/65)

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: 66.67%
- CSAA - Design High-Performing Architectures: 76.92%
- CSAA - Design Resilient Architectures: 76.92%
- CSAA - Design Secure Applications and Architectures: 52.17%

#

### set 6

- attempt 1:
- attempt 2:

### Domains - first attempt

- CSAA - Design Cost-Optimized Architectures: %
- CSAA - Design High-Performing Architectures: %
- CSAA - Design Resilient Architectures: %
- CSAA - Design Secure Applications and Architectures:%

#

## REVIEW MODE

### set 1

- attempt 1: 83.08%

### set 2

- attempt 1: 89.23%

### set 3

- attempt 1: 78.46%

### set 4

- attempt 1: 87.69%

### set 5

- attempt 1: 93.85% (61/65)

### set 6

- attempt 1:

#

## SECTION BASED

### 1. Design Resilient Architectures

- attempt 1: 96.67% (29/30)

### 2. Design High performance Architectures

- attempt 1: 90.00% (27/30)

### 3. Design Secure Applications & Architectures

- attempt 1: 76.67%(23/30)

### 4. Design Cost optimized Architectures

- attempt 1: 92.59%(25/27)

#

## TOPIC BASED

- Auto-Scaling: 100% (8/8)
- CloudFront: 85.71% (6/7)
- Dynamo DB: 100% (8/8)
- EBS: 87.5%(7/8)
- EC2: 100% (8/8)
- EFS: 100% (4/4)
- ELB: 87.5%(7/8)
- IAM: 87.5%(7/8)
- Lambda: 100% (8/8)
- RDS: 100% (8/8)
- S3: 87.5%(7/8)
- SQS: 100% (4/4)
- VPC:100% (4/4)

#

## FINAL TEST
